body{
    background-color: rgb(240, 220, 247);
     font-family: 'Courier New', Courier, monospace;
     margin: 0;a
}
img{width: 500px;
text-align : center;
}
header{
    /*corde fundo*/
    background-color: rgb(231, 190, 243);
    /*cor de texto*/ 
    color: rgb(217, 253, 253);
    text-align:center;
    /*preenchimento*/
    padding: 20px;
}
footer{/*cor de fundo*/
    background-color: rgb(221, 165, 243);
    /*cor de texto*/
    color: rgb(12, 8, 12);
    /*alinhamento de texto*/
    text-align: center;
    /*preenchimento*/
    padding: 20px;
}
a:hover{
    color: rgb(17, 20, 20);
}
a{
 transition: color 0.3 ease;
}
